/*----------------------Colors */
.hero-text-container,
.tl-item,
.history-content-top-row,
.history-content {
    background-color: rgba(148, 97, 142, 0.8);
}


#footer-container {
    background-color: rgba(148, 97, 142, 1);
}

body,
#logo,
.modal-content,
.image-gallery-container {
    background-color: rgba(232, 232, 232, 0.9);
}


/*-------------------Special paddings/margins/text */

h2,
h3,
h4,
h5 {
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    color: #49274A;
}

h2,
h3 {
    font-size: 35px;
    letter-spacing: 2px;
}


h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.hero-image-container,
.history-grid-container,
.image-gallery-container,
.timeline-container {
    margin-bottom: 10vh;
}


/*----------------------Header */

#logo-container {
    text-align: center;
}

#logo {
    font-family: Monoton;
    margin-top: 8px;
    color: #49274A;
}

/*how to push header/nav down> */
.header-container {
    margin-top: 10px;
    margin-bottom: 15px;
    max-height: 90px;
    width: 98%;
}

/*tutor support to help with nav alignment*/
#navbarText {
    justify-content: flex-end;
}

/*tutor support to help with nav alignment*/
#nav-list {
    margin: 0 !important;
    margin-left: auto;
}

a {
    overflow: hidden;
    Margin-top: 5px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #49274A;
    text-decoration: none;
    font-size: 20px;
}

/* Moved from above to stop offestting the soical links at the bottom*/
.nav-item a {
    letter-spacing: 2px;
    padding: 5px 5px 10px 5px;
}

/* Change the color of links on hover */
nav a:hover {
    color: #ececef;
}

/*Change the color of the link for current page */
#nav-home a,
#nav-gallery a,
#nav-history a {
    color: #ececef;
}

#alert-container {
    margin-top: 6vh;
}

#ticket-alert {
    position: relative;
    margin: 5px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    max-height: 30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buy-link {
    font-size: 16px;
    margin: 0;
    padding: 5px;
    color: red;
}


/*-------------------Homepage */

.hero-image-container {
    padding: 0;
    width: 100%;
}

.hero-image {
    position: relative;
    opacity: 0.7;
    margin: 0;
    padding: 0;
}

.hero-text-container {
    position: relative;
    height: fit-content;
    text-align: center;
    display: flex;
    width: fit-content;
    font-size: 20px;
    border-radius: 10px;
    padding: 20px 15px;
}

.star {
    font-size: 25px;
    color: #49274A;
}

/*-------------------History Page */

.history-grid-container {
    margin-top: 5vh;
    width: 90%;
}

#history-image1 {
    background: url("../images/band-practice-cropped.webp") no-repeat bottom center;
    background-size: cover;
}

#history-image2 {
    background: url("../images/history2cropped.webp") no-repeat bottom center;
    background-size: cover;
    padding: 0;
}

iframe {
    width: 100%;
    height: 400px;
}

.history-video {
    box-sizing: border-box;
    border: 1px solid #151C32;
    border-radius: 10px;
    margin-top: 8px;
    background-color: black;
    /* Resource used to better fit iframe to container
        https: //www.tutorialspoint.com/how-to-set-div-width-to-fit-content-using-css#:~:text=Using%20the%20fit%2Dcontent%20value,on%20its%20parent%20container's%20width.*/
    height: fit-content;
}


#festival-image {
    background: url("../images/festival-stage.webp") no-repeat center center;
    background-size: cover;
    padding: 0;
}

.history-content-top-row,
.history-content {
    margin-top: 8px;
    margin-bottom: 10px;
    min-height: 340px;
    box-sizing: border-box;
    border: 1px solid #151C32;
    border-radius: 10px;
}

.history-text h4 {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.history-text p {
    color: #151C32;
    font-size: 20px;
    font-family: "Cabin Condensed", sans-serif;
    padding: 20px 30px 10px 20px;
}

/*-------------------Gallery Page */



/*-------------------Responsive Gallery Styling */

/* Code below from tutorial: (https: //blog.logrocket.com/responsive-image-gallery-css-flexbox/)
    Code source: https: //codesandbox.io/s/delicate-wave-sts6l7?file=/style.css:395-1242) */

ul {
    list-style: none;
}

.gallery-heading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Ubuntu, sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    color: #151C32;
}

/* Responsive image gallery rules begin*/

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.image-gallery-container {
    margin-top: 5vh;
    min-width: 80%;
}

.image-gallery li {
    flex: 1 1 auto;
    /* or flex: auto; */
    height: 400px;
    cursor: pointer;
    position: relative;
}

.image-gallery::after {
    content: "";
    flex-grow: 999;
}

.image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 10px;
    border: 1px solid #151C32;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    font-family: "Cabin Condensed", sans-serif;
    color: #ececef;
    border-radius: 10px;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hover */
.image-gallery li:hover .overlay {
    transform: scale(1);
}


/*-------------------Live */

.timeline-area {
    border-left: 4px solid #49274A;
    left: -30px;
}

.tl-item {
    color: #49274A;
    padding: 10px 10px;
    font-size: 20px;
    border: 3px solid #49274A;
    border-radius: 10px;
    width: 60%;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.tl-item::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(148, 97, 142, 1);
    border: 2px solid #49274A;
    position: absolute;
    top: 8px;
    left: -28px;
}

.tl-item::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #49274A transparent transparent;
    border-width: 12px;
    position: absolute;
    left: -26px;
    top: 5px;
}

.tl-item h4 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.tl-item h5 {
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

.btn-link {
    text-decoration: none;
    text-align: right;
    font-size: 22px;
    color: #49274A;
    font-family: "Cabin Condensed", sans-serif;
    font-weight: 600;
}

.live-video {
    height: fit-content;
    width: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #151C32;
    background-color: black;
}

/*-------------------Footer */

.social-links li a i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 7px;
    font-size: 26px;
    color: #ececef;
    background-color: #49274A;
    padding: 0;
    /*flex added to links themselves, from tutor support*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #49274A;
    background-color: #ececef;
}

.social-links {
    padding-top: 1vh;
}

.social-container {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* snippet below from: https://www.w3schools.com/css/css_align.asp */
.contact-container,
.watch-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 10px 15px;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}

#watch-link a:hover {
    color: #ececef;
}

#contact-button {
    background-color: #49274A;
    color: #ececef;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    padding: 5px;
}

.footer-container {
    display: flex;
    margin: 0;
    height: 10vh;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*-------------------Modal */

.modal {
    display: none;
    margin: auto 0;
    position: fixed;
    z-index: 1040;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
    max-height: 90%;
    top: 5vh;
    background-color: #AEABBA;
    z-index: 1060;
    margin: 0 auto;
    position: relative;
    padding: 3px;
    max-width: 80%;
    border: 1px solid #151C32;
    border-radius: 25px 25px 25px 25px;
}

.modal-content {
    width: 100%;
    background-color: #ececef;
    border: 1px solid #151C32;
    border-radius: 25px 25px 25px 25px;
}

.modal-header {
    padding: 2px 16px;
}

.form-group {
    font-family: "Cabin Condensed", sans-serif;
    color: #151C32;
}

.modal-body {
    padding: 2px 16px;
}

#feedback {
    width: 100%;
}

.modal-footer {
    padding: 2px 16px;
}

#form-header,
#name-label,
#email-label,
#cancel,
#send {
    font-family: Ubuntu, sans-serif;
}

/*-------------------Contact Form */

.form-control {
    padding: 5px;
    font-family: "Cabin Condensed", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 5px;
    max-width: 85%;
}


/*-------------------Media Queries */


@media screen and (max-width:576px) {

    /*--- Header*/
    #nav-container {
        border-radius: 25px 25px 25px 25px;
    }

    #ticket-alert {
        display: none;
    }

    .nav-item a {
        overflow: hidden;
        Margin-top: 2px;
        text-decoration: none;
        font-size: 12px;
        padding: 3px 3px 5px 3px;
    }

    /*--- History*/
    .history-content {
        margin: 5px;
    }

    /*--- Live*/
    .timeline-area {
        margin-top: 20px;
    }

    .tl-item::before {
        left: -28px;
    }

    .tl-item::after {
        left: -26px;

    }
}

@media screen and (max-width:576px) {

    /*--- Special Margin and Padding*/
    .image-gallery-container,
    .history-grid-container,
    .timeline-container {
        margin-top: 170px;
    }

    .hero-image-container {
        margin-top: 12vh;
    }

    /*--- Homepage*/
    .hero-image {
        background: url("../images/street2cropped-xs.webp") no-repeat center top;
        background-size: cover;
        width: 100%;
        height: 66vh;
        margin-top: 4vh;
    }

    .hero-text-container {
        transform: scale(0.8);
        top: 35vh;
    }

    #logo-container {
        margin: 10px 0;
    }


    #contact-button,
    .social-icon {
        transform: scale(0.8);
    }

    .image-gallery-container {
        padding-left: 0;
        padding-right: 15px;
    }
}


@media screen and (max-width:768px) {

    /*--- Header*/
    #logo {
        margin: 0 0 20px 0;
    }

    #ticket-alert {
        display: none;
    }

    /*--- Special Margin and Padding*/
    .image-gallery-container,
    .history-grid-container,
    .timeline-container {
        margin-top: 14vh;
    }

    /*--- Homepage*/
    .hero-image {
        background: url("../images/street2cropped.webp") no-repeat center top;
        background-size: cover;
        width: 100%;
        height: 74vh;
        margin-top: 4vh;
    }

    /*--- Live*/
    .timeline-container {
        margin-left: 20px;
    }

    .tl-item {
        width: 90%;
        height: 180px;
    }

    /*--- History*/
    .history-grid-container {
        margin-left: 20px;
    }


    /*--- Gallery*/
    #gallery-heading {
        text-align: center;
    }

    /*--- Footer*/
    /*  Tutorials and websites used to understand flexbox and increase responsiveness of webpages:
        (https: //www.youtube.com/playlist?list=PL4cUxeGkcC9i3FXJSUfmsNOx8E7u6UuhG)
            (https: //css-tricks.com/almanac/properties/f/flex-wrap/) */

    .social-container {
        flex-wrap: nowrap;
        width: 60%;
    }

    .contact-container {
        width: 40%;
    }
}

@media screen and (min-width:768px) {

    /*--- Special Headings and Margins*/
    #live-heading,
    #history-heading,
    #gallery-heading {
        margin-top: 20px;
    }

    /*--- Homepage*/
    .hero-image {
        background: url("../images/homepage-image.webp") no-repeat center top;
        background-size: cover;
        width: 100%;
        height: 78vh;
        margin-top: 20px;
    }

    .hero-text-container {
        transform: scale(1.2);
        top: 45vh;
    }

    /*--- History*/
    .history-content-top-row {
        max-width: 32%;
    }

    .history-video,
    .history-content {
        max-width: 49%;
    }

    /*--- Live*/
    .timeline-area {
        margin-top: 5vh;
    }

    .tl-item {
        width: 70%;
        height: 160px;
    }
}

@media screen and (max-width:992px) {

    /*--- Header*/
    #logo {
        font-size: 11vh;
    }

    #nav-container {
        background-color: rgba(232, 232, 232, 0.9);
        display: flex;
        flex-wrap: wrap-reverse;
        border-radius: 10px;
    }

    .navbar-toggler {
        color: #AEABBA;
        text-align: center;
        background-color: rgba(148, 97, 142, 1);
        justify-content: flex-start;
    }

    .nav-button-container {
        width: 10vh;
        justify-content: center;
        height: 5vh;
        margin-left: -30px;
        margin-top: -20px;
    }

    .navbar-nav {
        background-color: rgba(148, 97, 142, 1);
        padding: 5px 20px 5px 20px;
        border-radius: 10px;
        text-align: center;
        letter-spacing: 1px;
        color: #AEABBA;
    }

    #logo-container {
        display: flex;
        flex-wrap: wrap-reverse;
        position: absolute;
        top: 5vh;
    }

    #alert-container {
        margin-top: 13vh;
    }
}

/*had to amend to 993 from 992 as nav container was still displaying fade colors */
@media screen and (min-width:993px) {

    /*--- Header*/
    .nav-container {
        border-radius: 0 25px 25px 0;
        background-image: linear-gradient(to right, rgba(148, 97, 142, 0.001), rgba(148, 97, 142, 1));
    }

    #logo,
    .nav-container {
        flex-wrap: nowrap;

    }

    #logo {
        font-size: 8vh;
    }

    #alert-container {
        margin-top: 2vh;
    }

    /*--- Live */
    .tl-item {
        width: 100%;
    }
}